header {
  background-color: #1b1b1b;
}
header .wrapper {
  padding: 24px 32px;
  display: flex;
  align-items: center;
}
.logo {
  display: none;
  font-size: 32px;
  color: white;
  letter-spacing: 5px;
}
.logo-small {
  background-color: #ffa31a;
  border-radius: 10px;
  padding: 4px 12px;
  font-size: 32px;
}

.logo .logo-color {
  display: block;
  color: black;
  background-color: #ffa31a;
  padding: 4px 12px;
  border-radius: 10px;
}
.cart,
.menu-btn {
  color: white;
  font-size: 24px;
}
.cart {
  margin-left: auto;
  padding-right: 16px;
}

.input-container {
  margin: 16px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.input-container input {
  width: 100%;
  padding-left: 16px;
  border: 0;
}
.input-container-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .input-container-desktop {
    margin: 16px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 40%;
  }
  .input-container-desktop input {
    width: 100%;
    padding-left: 16px;
    border: 0;
  }
  .input-container-desktop img {
    background-color: white;
  }

  .mobile-input-container {
    display: none;
  }
}
.categories-menu .wrapper {
  padding: 32px;
}
.categories-heading {
  text-align: center;
  font-size: 40px;
}
.categories-btn-container {
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.categories-btn-container button {
  background-color: transparent;
  border: 0;
  padding: 7px 18px;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
.categories-btn-container button:hover {
  background-color: black;
  color: #ffa31a;
  /* Add active class to this  */
}
.products .wrapper {
  padding: 32px;
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .products .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 1300px) {
  main {
    display: flex;
  }
  .categories-menu {
    padding: 24px 64px 0px 32px;

    border-right: 1px solid black;
  }
  .categories-btn-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .products {
    max-width: 1300px;
    margin: 0 auto;
  }
  .products .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
  }
}
.product-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.product-item img {
  width: 200px;
}
.product-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.product-name {
  font-weight: bold;
  font-size: 24px;
  margin: 8px;
}
.product-description {
  text-align: center;
  margin-block: 8px;
}
.product-price {
  margin-block: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
  color: green;
}

.product-price .price-sale {
  display: none;
}
.product-item.on-sale .price {
  color: black;
  font-size: 16px;
  position: relative;
}

.product-item.on-sale .price {
  color: black;
  position: relative;
}
.product-item.on-sale .price::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: black;
  top: 30%;
  left: -5%;
  transform: rotate(-10deg);
}
.product-item.on-sale .price-sale {
  display: block;
  font-size: 24px;
}
.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 7px 40px;
  border-radius: 5px;
}
.add-to-cart-btn:hover {
  color: #ffa31a;
}

@media screen and (min-width: 1025px) {
  .menu-btn {
    display: none;
  }
  .cart {
    padding: 0;
  }
}
@media screen and (min-width: 450px) {
  .logo {
    display: flex;
  }
  .logo-small {
    display: none;
  }
}
