.categories-menu .wrapper {
  padding: 32px;
}
.categories-heading {
  text-align: center;
  font-size: 40px;
}
.categories-btn-container {
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.categories-btn-container button {
  background-color: transparent;
  border: 0;
  padding: 7px 18px;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
.categories-btn-container button:hover {
  background-color: black;
  color: #ffa31a;
}
.categories-btn-container button.active {
  background-color: black;
  color: #ffa31a;
}
.products .wrapper {
  padding: 32px;
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
  gap: 1rem;
}
.empty-state {
  display: none;
  font-size: 32px;
  text-align: center;
  width: 100%;
}
.empty-state.active {
  display: block;
}
@media screen and (min-width: 768px) {
  .products .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 1300px) {
  main {
    display: flex;
  }
  .categories-menu {
    padding: 20px 64px 0px 32px;
  }
  .categories-btn-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .products {
    max-width: 1300px;
    margin: 0 auto;
  }
  .products .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
  }
}
.product-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.product-item img {
  width: 200px;
}
.product-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.product-name {
  font-weight: bold;
  font-size: 24px;
  margin: 8px;
}
.product-description {
  text-align: center;
  margin-block: 8px;
}
.product-price {
  margin-block: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
  color: green;
}

.product-price .price-sale {
  display: none;
}
.product-item.on-sale .price {
  color: black;
  font-size: 16px;
  position: relative;
}
.product-item-sale-info {
  display: none;
  position: absolute;
  transform: translate(100px, -35px);
  background: black;
  color: #ffa31a;
  padding: 5px 15px;
  border-radius: 5px;
  opacity: 0.8;
}
img {
  position: relative;
}

.product-item.on-sale .product-item-sale-info {
  display: block;
}

.product-item.on-sale .price {
  color: black;
  position: relative;
}
.product-item.on-sale .price::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: black;
  top: 30%;
  left: -5%;
  transform: rotate(-10deg);
}
.product-item.on-sale .price-sale {
  display: block;
  font-size: 24px;
}
.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 7px 40px;
  border-radius: 5px;
}
.add-to-cart-btn:hover {
  color: #ffa31a;
}

@media screen and (min-width: 1025px) {
  .menu-btn {
    display: none;
  }
  .cart {
    padding: 0;
  }
}
@media screen and (min-width: 450px) {
  .logo {
    display: flex;
  }
  .logo-small {
    display: none;
  }
}
